@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.arrow {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow span {
    display: block;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #05eff7;
    border-right: 5px solid #05eff7;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(to right, 
    rgba(112, 157, 255, 0.8), 
    hsla(242, 74%, 61%, 0.8)) !important;
}
